.favorite-card {
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    button {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        gap: 2rem;
        width: 15rem;
        height: 15rem;
        box-shadow: -1px 0px 8px 4px rgba(0, 0, 0, 0.5), inset 0 0 0 1000px rgba(0, 0, 0, 50%);
    }
    h1 {
        text-transform: capitalize;
    }
}
