.forecast {
    border: 1px solid black;
    margin-top: 3rem;
    width: 95%;
    display: flex;
    margin-inline: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-direction: column;

    .header {
        font-weight: 600;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }
}
