.forecast {
    margin-top: 3rem;
    padding: 10%;
    width: fit-content;
    display: flex;
    margin-inline: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgb(255, 255, 255, 0.2);

    .header {
        font-weight: 600;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }
}
