@import '../abstacts/mixin';

.search-bar {
    margin-top: 2rem;
    display: flex;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    .auto-complete {
        width: clamp(10rem, 70vw, 30rem);
        color: white;
    }
    button {
        @include button;
        border-radius: 5px;
    }
    .circular-progress {
        color: aqua;
    }
}
