@import '../abstacts/mixin';

.search-bar {
    margin-top: 2rem;
    display: flex;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    .auto-complete {
        width: clamp(10rem, 70vw, 30rem);
        color: 'black';
    }
    button {
        @include button;
        border-radius: 5px;
    }
}
