.favorites {
    display: flex;
    justify-content: center;
    margin-block: 3%;
    padding-inline: 2rem;
    padding-bottom: 3rem;
    gap: 4rem;
    flex-wrap: wrap;
    background-color: var(--background);
}
